/* ALTERNATIVE BOX MODEL */

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100vh;

    display: flex;
    flex-direction: column;

    font-family: sans-serif;

    background-color: #111111;
}

.wrapperDisplay {
    max-height: 25%;
    flex: 1 1 0;

    display: flex;
    justify-content: center;

    background-color: #111111;
}

#display {
    max-width: 800px;
    flex: 1 1 auto;

    display: flex;
    justify-content: flex-end;
    /* aligns display text to the right when minimizing window width to the smallest size */
    align-items: center;
    overflow: hidden;
    /* aligns display text to the right when minimizing window width to the smallest size */

    font-size: 160px;
    font-weight: 100;
    text-align: center;
    color: #cacaca;

    /* background-color: navy; */
}

.wrapperButtons {
    flex: 1 1 0;

    display: flex;
    justify-content: center;

    background-color: #222222;
}

#buttons {
    max-width: 800px;
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;

    /* background-color: honeydew; */
}

.row {
    flex: 1 1 0;

    display: flex;

    /* background-color: lightseagreen; */
}

button {
    flex: 1 1 0;

    font-size: 36px;
    font-weight: 900;
    color: #cacacaf3;

    background-color: #222222;
}